body {
    font-size:10px;
    font-family: tahoma;
    background-color: #F0FFFF;
    color: #333;
    text-align: center;
}

h1 {
    margin: 10px 20px 10px 20px;
}
#tudo {
    top:-15px;
    position: relative;
    background: #ffffff;
    margin: 0px 0 20px -390px;
    width: 900px;
    left:19.7%;
    margin-top:-15px;
    border: 0px solid #aaa;
    margin-left:-10px;text-align: left;
}
.login{
    margin-top:13%;
    margin-left: -2%;
    width: 102.50%;
    background: #1F8871;
}
.tabelalogin{
    text-align:left; 
    width: 100%;
}
.cambio2{
    background: -moz-linear-gradient(
        top,
        #EEE5DE 0%,
        #EEE5DE 10%,
        #EEE5DE 30%,
        #c7d95f);
    width: 900px;
    height: 25px;
    margin-top:-28px;
}

.menuTravel{
    font-size:10px;
    height:67px;
    width: 900px;
    color:#4F4F4F;
    background:#fff;
    margin-top: -5%;
}
.menuTravel2{
    font-size:11px;
    margin-top:-10px;
    height:33px;
    width: 900px;
    color:#4F4F4F;
    background:#fff;
}
#centro {
    font-size:10px;
    top:-76px;
    position: relative;
    background:#1F8871;
text-align: left;
    margin: 0px 0 20px -390px;
    width: 900px;
    left:19.7%;

    border: 0px solid #aaa;
    margin-left:-10px;
    //borda arredondada
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    //////////
    //borda sombreada
    box-shadow: 5px 4px 10px #828282;
    -moz-box-shadow: 5px 4px 10px #828282;
    -webkit-box-shadow: 5px 4px 10px #828282;
    -khtml-box-shadow: 5px 4px 10px #828282;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4)"; /* IE8+ */
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc,direction=120,strength=4); /* IE7 and lower */
    ///////
}
.logo{
    margin-left:0px;
}
.cambiovalores2{
    margin-left:160px;
    font-size:10px;
}
.cambiovalores3{
    margin-left:-10px;
    font-size:10px;
}
.cambiovalores{
    margin-left:30px;
    font-size:10px;
}
.iata{
    margin-left:10px;
    font-size:10px;
}
.tabela{
    margin-top:0px;
    width: 900px;
    margin-left:0px;
    font-size:10px;color:#1F8871;
}
.tabela2{
    width: 840px;
    margin-left:27px;
    font-size:10px;
    color:#1F8871;
}
.tabela4{
    width: 50%;
    margin-left:25%;
    font-size:10px;
    color:#1F8871;
}
.tabela5{
    width:80%;
    margin-left:11.5%;
    font-size:10px;
    color:#1F8871;
}
.tabela6{
    width:98%;
    font-size:10px;
    color:#1F8871;
}
.dialog{
    margin-top: 25px;
     margin-left:50px;
     position:fixed;
     background-color: #F0FFFF;
     font-size:10px;
}
.dialog2{
    margin-top:-50px;
     margin-left:50px;
     position:fixed;
     background-color: #F0FFFF;
     font-size:10px;
     text-align: left;
}
.botaodialog{
    font-size: 10px;
    margin-left:150px;
}
.botaodialog2{
    font-size: 13px;
    margin-left:20px;
}

.espacocampos{
    margin-left:30px;
}
.espacocamposgrande{
    font-size:10px;
    margin-left:30px;
}
.espacocamposright{
    text-align: right;
    font-size:10px;
    margin-left:30px;
    height:25px;
}
.esparight{
    text-align: right;
    font-size:2px;
    margin-left:30px;
    height:25px;
}
.espacocamposnegativo{
    font-size:10px;
    margin-left: -15%;
}
.espacocampos2{
    font-size:10px;
}
.espacocampos5{
    font-size:10px;
}
.espacocampos2right{
    font-size:10px;
    height:25px;
    text-align: right;
}
.espacocampos3{
    font-size:10px;
    margin-left:27px;
}
.espacocamposright{
    text-align: right;
    font-size:10px;
    margin-left:30px;
    height:25px;
}
.espacocampos4right{
    font-size:10px;
    margin-left:10px;
    height:25px;
    text-align: right;
}
.espacocampospesquisa2{
    font-size:10px;
    margin-left:45px;
    height:25px;
}
.botaodeslogar{
    margin-top:8px;
    position: absolute;
    width: 30px;
    height: 25px; 
    margin-left:740px;
}
.usuariologado{
    margin-top:8px;
    position: absolute;
    width:700px;
    text-align: right;
    color:#000;
    
}
#centro legend#iUsu2 b{
    font-size: 14px;
    font-family: tahoma;
    color:#ffffff;
    margin-left: 43%;
    
}
#centro legend#iUsu2 {
    width: 900px;
}
#centro legend#iUsu3 b{
    font-size: 14px;
    font-family: tahoma;
    text-align: center;
    color:#000;
}
#centro legend#iUsu3 {
    width: 100%;
}
#centro legend#iUsu4 b{
    font-size: 10px;
    text-align: left;
    font-family: tahoma;
    color:#000;
}
#centro legend#iUsu4 {
    width: 100%;
}

#centro legend#iUsu5 b{
    font-size: 14px;
    font-family: tahoma;
    text-align: center;
    color:#52A412;
}
#centro legend#iUsu5 {
    width: 100%;
}

.leftcampo{
    font-size: 10px;
    margin-left:100px;
}
.leftcampoo{
    font-size: 10px;
    margin-left:100px;
    text-align: right;
}
.left{
    font-size: 10px;
    margin-left:100px;
    color: #fff;
}
.left1{
    color: #fff;
    font-size: 10px;
    margin-left:100px;
}
.left1campo{
    font-size: 10px;
    margin-left:90px;
    text-align: right;
}
.left2{
    font-size: 10px;
    margin-left:295px;
}
.left3{
    font-size: 10px;
    margin-left:60px;
}
.left4{
    font-size: 10px;
    margin-left:80px;
}
.left19{
    font-size: 10px;
    margin-left:150px;
}
.left21{
    font-size: 10px;
    margin-left:199px;
}
.left22{
    font-size: 10px;
    margin-left:175px;
}
.fontebranca{
    color:#000;
    font-size: 11px;
}
.fontedez{
    color:#000;
    font-size: 10px !important;
}
.fontebrancaa{
    font-size: 11px;
    text-align: right;
    
}

.fontepretas{
    color: #000;
    font-size: 11px;
}
.botao{
    margin-left:50px;
    color:#1F8871;
}
.botao2{
    margin-left:20px;
    color:#1F8871;
}
.botao3{
    margin-left:40px;
    color:#1F8871;
}
.painel{
    color:#fff;
    width:840px;
    margin-left: 25px;
}
.paineleditar{
    color:#fff;
    width:43%;
    margin-left:260px;
    text-align: left;
}
.paineleditar2{
    color:#fff;
    width:53%;
    margin-left:260px;
    text-align: left;
}
.painelcobranca{
    color:#fff;
    width:70%;
    margin-left:160px;
    text-align: left;
}
.painelcobranca2{
    background: #fff;
    color:#fff;
    width:85%;
    margin-left:7%;
    text-align: left;
}
.acaocambio{
    margin-top:-30px;
    background:#c7d95f;
    color:#000;
    border:#c7d95f ;
    margin-left:165px;
    text-align: center;
    -moz-box-shadow:1px 1px 1px #c7d95f;
    -webkit-box-shadow:1px 1px 1px #c7d95f;
    border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    -webkit-border-radius:0px 0px 0px 0px;
    height: 85px;
    width:115px;
}
.imagemlogo{
    margin-left:270px;
    overflow: hidden;
}
.imagemlogos{
    margin-left:25px;
}
.menuTravel img {
  height: 60px;
  width: 60px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.menuTravel img:hover {
  width:50px;
  height:50px;
}
.cursomenu{
    font-size: 11px;
    margin-left:280px;
}
.left20{
    font-size: 10px;
    margin-left:235px;
}
.highmenu{
    font-size: 11px;
    margin-left:-60px;
}
.teensmenu{
    font-size: 11px;
    margin-left:30px;
}
.turismomenu{
    font-size: 11px;
    margin-left:30px;
}
.traineemenu{
    font-size: 11px;
    margin-left:-10px;
}
.comissao { 
    top:5px; 
}
.imagemm {
    margin-left:9px;
}

.menulinha{
    color: #fff;
    font-size: 15px;
}
.iconcambio{
    position: absolute;
    margin-top:35px;
    margin-left: 0px;
    z-index: 3!important;
        overflow: visible!important; 
}
.espacocampos{
    margin-left:30px;
}
.espacodialog{
    color: #000;
    font-size: 10px;
    margin-left:77px;
}
.espacodialogcinza{
    color: #1F8871;
    font-size: 10px;
    margin-left:130px;
}
.espacodialog2{
    color: #000;
    font-size: 10px;
    margin-left:40px;
}
.espacodialog3{
    color: #000;
    font-size: 10px;
    margin-left:97px;
}
.espacodialog4{
    color: #000;
    font-size: 10px;
    margin-left:60px;
}
.espacodialog4right{
    color: #000;
    font-size: 10px;
    margin-left:60px;
    text-align: right;
}
.espacodialog5{
    color: #000;
    font-size: 10px;
    margin-left:37px;
}
.espacodialog6{
    color: #000;
    font-size: 10px;
    margin-left:32px;
}
.espacodialog7{
    color: #000;
    font-size: 10px;
    margin-left:89px;
}
.espacodialog7cinza{
    color: #1F8871;
    font-size: 10px;
    margin-left:89px;
}
.espacocinza{
    color: #1F8871;
    font-size: 10px;
}
.espacodialog8{
    color: #000;
    font-size: 10px;
    margin-left:100px;
}
.espacodialog9{
    color: #000;
    font-size:10px;
    margin-left:50px;
}
.tabela3{
    float: left;
    top: 5px;
    font-size: 10px;
}
.tabela1{
    width: 100%;
    font-size: 10px;
}
.botaopesquisar{
    width: 30px;
    margin-left:10px;
}
.espacocampos4{
    margin-left: 274px;
    font-size: 10px;
}
.add{
    margin-left:0.5%;
    color:#fff;
    background: #1F8871;
}
.imgadd{
    margin-left:3%;
}
.imgadr{
    margin-left:3%;
    text-align: right;
}
.tab{
    background: #fff;
    background-color: #000;
}
////////////////////////
.camposs{
    font-size: 11px;
    position: relative;
}
.campossf{
    font-size: 11px;
    position: relative;
}
.campossr{
    font-size: 11px;
    position: relative;
    text-align: right;
}
.campos{
    font-size: 11px;
    margin-left:10%;
    position: relative;
}
.camposr{
    font-size: 11px;
    margin-left:10%;
    text-align: right;
    position: relative;
}
.campos1s{
    font-size: 11px;
    margin-left:30%;
    position: relative;
    text-align: right;
}
.campos1{
    font-size: 11px;
    margin-left:30%;
    position: relative;
}
.campos2{
    font-size: 11px;
    margin-left:50%;
    position: relative;
}

.campos3{
    font-size: 11px;
    margin-left:74%;
    position: relative;
}
.campos4{
    font-size: 11px;
    margin-left:56%;
    position: relative;
}
.campos2r{
    font-size: 11px;
    margin-left:50%;
    text-align: right;
    position: relative;
}
.espaco0{
    color: #fff;
    font-size: 11px;
    position: relative;
}
.espaco0p{
    color: #000;
    font-size: 11px;
    position: relative;
}
.espaco{
    color: #fff;
    font-size: 11px;
    margin-left:40%;
    position: relative;
}
.espacor{
    font-size: 11px;
    margin-left:50%;
    position: relative;
    text-align: right;
}
.espacop{
    color: #000;
    font-size: 11px;
    margin-left:40%;
    position: relative;
}
.espacopreto{
    color: #000;
    font-size: 11px;
    margin-left:57%;
    position: relative;
}
.espaco1{
    color: #fff;
    font-size: 11px;
    margin-left:60%;
    position: relative;
}
.espaco1p{
    color: #000;
    font-size: 11px;
    margin-left:60%;
    position: relative;
}
.espaco2preto{
    color: #000;
    font-size: 11px;
    margin-left:80%;
    position: relative;
}
.espaco3{
    color: #fff;
    font-size: 11px;
    margin-left:59%;
    position: relative;
}
.espaco3p{
    color: #000;
    font-size: 11px;
    margin-left:59%;
    position: relative;
}
.espaco4{
    color: #fff;
    font-size: 11px;
    margin-left:74%;
    position: relative;
}
.espaco4p{
    color: #000;
    font-size: 11px;
    margin-left:74%;
    position: relative;
}
.espaco5{
    color: #fff;
    font-size: 11px;
    margin-left:83%;
    position: relative;
}
.espaco5p{
    color: #000;
    font-size: 11px;
    margin-left:83%;
    position: relative;
}
.espaco6{
    color: #fff;
    font-size: 11px;
    margin-left:70%;
    position: relative;
}
.espaco6p{
    color: #000;
    font-size: 11px;
    margin-left:70%;
    position: relative;
}
.espaco7{
    color: #fff;
    font-size: 11px;
    margin-left:89%;
    position: relative;
}
.espaco7p{
    color: #000;
    font-size: 11px;
    margin-left:89%;
    position: relative;
}
.espaco8{
    color: #fff;
    font-size: 11px;
    margin-left:79%;
    position: relative;
}
.espaco8p{
    color: #000;
    font-size: 11px;
    margin-left:79%;
    position: relative;
}
.espaco9{
    color: #fff;
    font-size: 11px;
    margin-left:55%;
    position: relative;
}
.espaco9p{
    color: #000;
    font-size: 11px;
    margin-left:55%;
    position: relative;
}
.espaco10{
    color: #fff;
    font-size: 11px;
    margin-left:75%;
    position: relative;
}
.espaco10p{
    color: #000;
    font-size: 11px;
    margin-left:75%;
    position: relative;
}
.espaco11{
    color: #fff;
    font-size: 11px;
    margin-left:25%;
    position: relative;
}
.espaco11p{
    color: #000;
    font-size: 11px;
    margin-left:25%;
    position: relative;
}
.espaco12{
    color: #fff;
    font-size: 11px;
    margin-left:50%;
    position: relative;
}
.espaco12p{
    color: #000;
    font-size: 11px;
    margin-left:50%;
    position: relative;
}
.espaco13{
    color: #fff;
    font-size: 11px;
    margin-left:3%;
    position: relative;
}
.espaco14{
    color: #fff;
    font-size: 11px;
    margin-left:26%;
    position: relative;
}
.espaco15{
    color: #fff;
    font-size: 11px;
    margin-left:23%;
    position: relative;
}
.espaco16p{
    color: #000;
    font-size: 11px;
    margin-left:85%;
    position: relative;
}
.espaco17p{
    color: #000;
    font-size: 11px;
    margin-left:87.5%;
    position: relative;
}
.espaco18p{
    color: #000;
    font-size: 11px;
    margin-left:75%;
    position: relative;
}
.botaoeditar{
    width:108%;background:-moz-linear-gradient(
        top,
        #c7d95f 0%,
        #EEE5DE 10%,
        #c7d95f 30%,
        #fff);margin-left: -15px;margin-top:5%; height:40px;border: #fff;text-align: center;
}
.botaoreceber{
    width:105%;background:-moz-linear-gradient(
        top,
        #c7d95f 0%,
        #EEE5DE 10%,
        #c7d95f 30%,
        #fff);margin-left: -15px;margin-top:15px; height:40px;border: #fff;text-align: center;
}
.botaoeditareceber{
    width:100%;background:-moz-linear-gradient(
        top,
        #c7d95f 0%,
        #EEE5DE 10%,
        #c7d95f 30%,
        #fff);margin-top:15px; height:40px;border: #fff;text-align: center;
}
.espacocobranca{
    margin-left:0%;
}
.espacocobranca2{
    margin-left:13%;
}
.espacocobranca3{
    margin-left:15%;
}
.espacocobranca3r{
    margin-left:15%;
    text-align: right;
}
.espacocobranca3combo{
    margin-left:15%;
   height:30px;
}
.espacocobranca4{
    margin-left:3%;
}
.espacocobranca4r{
    margin-left:3%;
    text-align: right;
}
.espacocobranca4combo{
    margin-left:3%;
}
.espacocobranca5{
    margin-left:9%;
}
.espacocobranca6{
    margin-left:39%;
}
.espacodialogcinza2{
    color: #1F8871;
    font-size: 10px;
    margin-left:160px;
}
.painelPacote{
    color:#fff;
    width:84%;
    margin-left:7%;
    text-align: left;
}
.painelPacote{
    background: #1F8871;
    width:84%;
    margin-left:7%;
    text-align: left;
}
.painelPacotecruzeiro{
    color:#fff;
    width:72%;
    margin-left:10%;
    text-align: left;
}

.painelFiltrar{
    width:90%;
    margin-left:4%;
    text-align: left;
}

.botaocadpacote{
    width:100%;background:-moz-linear-gradient(
        top,
        #c7d95f 0%,
        #EEE5DE 10%,
        #c7d95f 30%,
        #fff);margin-left: 0px;margin-top:1%;border: #fff;text-align: center;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.botaoseguro{
    width:100%;background:-moz-linear-gradient(
        top,
        #c7d95f 0%,
        #EEE5DE 10%,
        #c7d95f 30%,
        #fff);border: #fff;text-align: center;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.espacocobranca7{
    margin-left:35%;
}

.espacocobranca9{
    margin-left:31%;
}
.espacocobranca10{
    margin-left:28%;
}
.espacocobranca11{
    margin-left:10%;
}
.espacocobranca11rig{
    margin-left:10%;
    text-align: right;
}
.espacocobranca11r{
    margin-left:7%;
    text-align: right;
}
.espacocobranca12{
    margin-left:18%;
}
.espacocobranca13{
    margin-left:37%;
}

.espacoco13{
    margin-left:37%;
    color: #fff;
}
.espacocobranca14{
    margin-left:6%;
}
.espacocobranca15{
    margin-left:7%;
}
.espacocobranca155{
    margin-left:7.5%;
}
.espacocobranca16{
    margin-left:21%;
}
.espacocobranca16r{
    margin-left:21%;
    text-align: right;
}
.espacocobranca17{
    margin-left:27%;
    text-align: right;
}
.espacocobranca17r{
    margin-left:27%;
}
.espacocobranca18{
    margin-left:20%;
}
.espacocobranca18rig{
    margin-left:20%;
    text-align: right;
}
.espacocobranca19{
    margin-left:17%;
}
.espacocobranca20botao{
    margin-left:5%;
    height:27px;
}
.espacocobranca20botao:hover{
    height: 23px;
    border: #1F8871;
}
.espacocobranca21botao{
    margin-left:0%;
    width: 19%;
}
.espacocobranca21botao:hover{
    height: 20px;
    width: 17.7%;
    border: #1F8871;
}
.espacocobranca22botao{
    margin-left:13%;
    width: 19%;
}
.espacocobranca22botao:hover{
    height: 20px;
    width: 17.7%;
    border: #1F8871;
}
.espacocobranca23botao{
    margin-left:3%;
    width: 26%;
}
.espacocobranca23botao:hover{
    height: 20px;
    width: 25%;
    border: #1F8871;
}
.espacocobranca24botao{
    margin-left:2%;
    width: 23%;
}
.espacocobranca24botao:hover{
    height: 20px;
    width: 21%;
    border: #1F8871;
}
.espacocobranca3botao{
    margin-left:3%;
    height:27px;
}
.espacocobranca3botao:hover{
    height: 23px;
    border: #1F8871;
}
.espacocobranca20{
    margin-left:5%;
}
.espacocobranca20rig{
    margin-left:5%;
    text-align: right;
}
.espacocobranca21{
    margin-left:34%;
}
.espacocobranca22{
    margin-left:25%;
}
.espacocobranca23{
    margin-left:11%;
}
.espacocobranca23r{
    margin-left:11%;
    text-align: right;
}
.espacocobranca24{
    margin-left:8%;
}
.espacocobranca24r{
    margin-left:8%;
    text-align: right;
}
.espacocobranca25{
    margin-left:43%;
}
.espacocobranca26{
    margin-left:22%;
}
.espacocobranca27{
    margin-left:29%;
}
.espacocobranca28{
    margin-left:4%;
}
.espacocobranca29{
    margin-left:2%;
}
.espacocobranca29r{
    margin-left:2%;
    text-align: right;
}
.espacocobranca29rf{
    margin-left:2%;
    text-align: right;
}
.espacocobranca30{
    margin-left:14%;
}
.espacocobranca31{
    margin-left:24%;
}
.espacocobranca31r{
    margin-left:24%;
    text-align: right;
}
.espacocobranca32{
    margin-left:32%;
}
.espacocobranca33{
    margin-left:12%;
}
.espacocobranca34{
    margin-left:30%;
}
.espacocobranca35{
    margin-left:16%;
}
.espacocobranca36{
    margin-left:62%;
}
.espacocobranca37{
    margin-left:46%;
}
.espacocobranca38{
    margin-left:5.5%;
}
.espacocobranca40{
    margin-left:0.5%;
}

.espacocobranca39{
    margin-left:3.7%;
}

.espacocobranca41{
    margin-left:9.3%;
}
.espacocobranca42{
    margin-left:6.5%;
}
.espacocobranca43{
    margin-left:2.7%;
}
.espacologin{
    margin-left:40%;
     font-size: 10px;
}
.espacologinbra{
    margin-left:40%;
    color: #fff;
     font-size: 10px;
}
.loginButton{
    margin-left:43%;
    font-size: 10px;
}
.loginButton2{
    margin-left:1%;
    font-size: 10px;
}
.loginButtonn{
    margin-left:1%;
}
.loginButtonr{
    margin-left:1%;
    text-align: right;
}
.espacocampos6right{
    margin-left:2%;
    font-size: 10px;
    text-align: right;  
}
.espacocampos6{
    margin-left:6%;
    font-size: 10px;
    
}
.simnao{
    margin-top: 3%;
    margin-left: 2%;
}

.botaoFiltrar {
  margin-left: 83%;
  padding: 4px 9px 4px 9px;
}

.submenu{
    font-family: tahoma;
    float:left;
    font-size: 14px;
    background: #3A5795;
    width: 20%;
}
.submenu2{
    color:#fff;
    font-family: tahoma;
    float:left;
    font-size: 14px;
}
.submenu2 li a{
    color:#fff;
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    font-size: 12px;
}